@charset "utf-8";
/* CSS Document */
body {
	background-image: url(dark.jpg);
}

.h1{
	color: white;
	text-align: center;
	text-decoration: inherit;
	font-family: "Open Sans", sans-serif;
}


